* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

ul {
  width: 100%;
  margin: 0;
  padding: 0px;
  list-style: none;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
}

/* Expanding image text */
#imgtext {  
  font-weight: bold;
  /* position: absolute; */
  text-align: center;
  left: 1rem;
  top: 2rem;
  color: black;
  font-size: 15px;
}

/* Closable button inside the expanded image */
/* .closebtn {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 15px;
  font-size: 2rem;
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
} */

/* .closebtn:hover,
.closebtn:focus {
  color: #ffffff;
  background-color: rgba(0, 0, 0, .2);
}

.closebtn-button:focus {
  outline: 1px solid #000000;
} */

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 40%;
  transform: translateY(-60%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: #ffffff;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid #000000;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}